@{ 
    Layout = "Layouts/Main";
}
@using AlternatiflerCore.Models
@using AlternatiflerCore.Models.MyModels
@model HomeModel


        <!-- Slider Revolution	-->

        <section class="ef-topshad ef-bottom-2_18 hide-for-print">
            <div class="ef-botshad">
                <div class="fullwidthbanner-container">
                    <div class="fullwidthbanner">
                        <ul>

                            <!-- THE SECOND SLIDE -->
                            <li data-transition="slideright" data-slotamount="3" data-masterspeed="300">
                                <!-- THE MAIN IMAGE IN THE SLIDE -->
                                <img alt="" src="~/images/slides/slide-2-bg.jpg" style="background-color: #353535;" data-fullwidthcentering="on" />

                                <!-- THE CAPTIONS IN THIS SLIDE -->

                                <div class="caption sfl ltl"
                                     data-x="160"
                                     data-y="195"
                                     data-speed="300"
                                     data-start="300"
                                     data-easing="easeOutCirc">
                                    <img src="~/images/slides/slide-2-girl2.png" alt="Image 1" />
                                </div>
                                <div class="caption sfl stl"
                                     data-x="455"
                                     data-y="180"
                                     data-speed="300"
                                     data-start="600"
                                     data-easing="easeOutCirc">
                                    <img src="~/images/slides/slide-2-girl1.png" alt="Image 2" />
                                </div>
                                <div class="caption sfl ltr"
                                     data-x="770"
                                     data-y="180"
                                     data-speed="300"
                                     data-start="900"
                                     data-easing="easeOutCirc">
                                    <img src="~/images/slides/slide-2-girl3.png" alt="Image 3" />
                                </div>



                                <div class="caption sfb randomrotateout"
                                     data-x="210"
                                     data-y="110"
                                     data-speed="900"
                                     data-start="1200"
                                     data-easing="easeOutElastic">
                                    <img src="~/images/slides/slide-2-cloud1.png" alt="Image 4" />
                                </div>
                                <div class="caption sfb randomrotateout"
                                     data-x="540"
                                     data-y="110"
                                     data-speed="900"
                                     data-start="1300"
                                     data-easing="easeOutElastic">
                                    <img src="~/images/slides/slide-2-cloud2.png" alt="Image 5" />
                                </div>
                                <div class="caption sfb randomrotateout"
                                     data-x="830"
                                     data-y="110"
                                     data-speed="900"
                                     data-start="1400"
                                     data-easing="easeOutElastic">
                                    <img src="~/images/slides/slide-2-cloud3.png" alt="Image 6" />
                                </div>



                                <div class="caption sfl randomrotateout"
                                     data-x="340"
                                     data-y="125"
                                     data-speed="900"
                                     data-start="1700"
                                     data-easing="easeOutExpo">
                                    <img src="~/images/slides/slide-2-arrow1.png" alt="Image 7" />
                                </div>
                                <div class="caption sfl randomrotateout"
                                     data-x="655"
                                     data-y="125"
                                     data-speed="900"
                                     data-start="1800"
                                     data-easing="easeOutExpo">
                                    <img src="~/images/slides/slide-2-arrow2.png" alt="Image 7" />
                                </div>



                                <div class="caption ef-title-cap sfl"
                                     data-x="410"
                                     data-y="35"
                                     data-speed="500"
                                     data-start="2600"
                                     data-easing="easeOutExpo">
                                    <h3><span style="color: #fff;"><strong>Birşey mi aradın ?</strong> Alternetifini bul</span></h3>
                                </div>
                                <div class="caption sfr"
                                     data-x="453"
                                     data-y="70"
                                     data-speed="500"
                                     data-start="2600"
                                     data-easing="easeOutExpo">
                                    <span class="ef-main-color">Program, Oyun, Müzik ve daha  fazlası ...</span>
                                </div>


                            </li>


                        </ul>

                    </div>
                </div>
            </div>
        </section>

        <!-- Content -->

        <section id="ef-content">

            <!-- Services -->

            <div class="row">

                <div class="large-12 columns">
                    <section class="row">

                        <div class="ef-services">
                            <article class="large-3 columns text-center">

                                <!--100 icons are ready to use! Just change ef-icn-13 class to ef-icn-57 for example. See services.html for more info-->

                                <a href="/sistemler/bilgisayar-yazilimlari" class="ef-icon ef-icn-3 hide-for-print"><span></span></a>
                                <h4><a href="/sistemler/bilgisayar-yazilimlari">Bilgisayar Yazılımları</a></h4>

                                <p>Bilgisayarda kullanabileceğiniz tüm yazılımları alternatiflerini bulmak için içeri gelin</p>
                                <a class="button small ef-hollow ef-button round ef-no-margin" href="/sistemler/bilgisayar-yazilimlari">Daha Fazla</a>

                                <hr class="ef-blank show-for-small hide-for-print">
                            </article>

                            <article class="large-3 columns text-center">

                                <a href="/sistemler/fotograf-grafik" class="ef-icon ef-icn-68 hide-for-print"><span></span></a>
                                <h4><a href="/sistemler/fotograf-grafik">Fotograf ve Grafik</a></h4>

                                <p>Fotoğrafları işlemek ve Hd kalitede grafikleri çizmek için en iyi programarın ücretsiz alternatiflerini bul.</p>
                                <a class="button small ef-hollow ef-button round ef-no-margin" href="/sistemler/fotograf-grafik">Daha Fazla</a>

                                <hr class="ef-blank show-for-small hide-for-print">
                            </article>

                            <article class="large-3 columns text-center">

                                <a href="/sistemler/sosyal-medya" class="ef-icon ef-icn-90 hide-for-print"><span></span></a>
                                <h4><a href="/sistemler/sosyal-medya">Sosyal Medya</a></h4>

                                <p>Sosyal Medyada sürekli kullandığınız uygulamaların o kadar çok alternatifi var ki! hadi gözat</p>
                                <a class="button small ef-hollow ef-button round ef-no-margin" href="/sistemler/sosyal-medya">Daha Fazla</a>

                                <hr class="ef-blank show-for-small hide-for-print">
                            </article>

                            <article class="large-3 columns text-center">

                                <a href="/sistemler/ses-muzik" class="ef-icon ef-icn-67 hide-for-print"><span></span></a>
                                <h4><a href="/sistemler/ses-muzik">Ses ve Müzik</a></h4>

                                <p>Sanırım bu mükemmel ses size ait, hadi daha önce hiç denemediğin akustik uygulamaları deneme vakti</p>
                                <a class="button small ef-hollow ef-button round ef-no-margin" href="/sistemler/ses-muzik">Daha Fazla</a>

                                <hr class="ef-blank show-for-small hide-for-print">
                            </article>
                        </div>

                    </section>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <hr class="ef-blank hide-for-print">
                </div>
            </div>

            <!-- Callout Panel -->

            <div class="row">
                <div class="large-12 columns">
                    <div class="panel ef-panel">
                        <div class="ef-panel-inner">
                            <section class="row">
                                <div class="large-9 columns">
                                    <h3>Bu Alana Reklam Gelmesini Düşünüyorum....</h3>
                                </div>
                                <div class="large-3 columns text-right hide-for-print">
                                    <a href="http://themeforest.net/item/favea-multipurpose-html5css3-template/4640491" class="button round medium ef-purchase ef-no-margin">Purchase</a>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <hr class="ef-blank hide-for-print">
                </div>
            </div>

            <!-- Recent Works -->

            <section class="row">
                <div class="large-12 columns">


                    <div class="row">
                        <div class="large-9 small-9 columns">
                            <h4 class="ef-style-title"><strong>Güncel</strong> Uygulamalar<a class="hide-for-print" href="/guncel-uygulamalar">Tümünü Gör</a></h4>
                        </div>

                        <div class="large-3 small-3 columns text-right ef-carousel-nav hide-for-print">
                            <a id="ef-prev" href="#"></a>
                            <a id="ef-next" href="#"></a>
                        </div>

                    </div>

                    <div class="row">
                        <div class="large-12 columns">
                            <div id="ef-latest-works" class="clearfix">
                                <div class="ef-carousel">
                                    @foreach (var item in Model.urunlist)
                                    {

                                        <article class="ef-portfolio-item text-center ef-radius">
                                            <a class="ef-proj-img" data-gal="lb[gal]"
                                               title="Title of a post" href="/urunler/@item.Ad">
                                                <img src="images\d7c7f6e6-0316-4f30-9cc6-b4ed137c424a_13.png" alt="" width="360" height="224" />
                                                <span class="ef-loader"><span></span></span>
                                            </a>
                                            <div class="ef-item-inner">
                                                <h5 class="ef-no-margin ef-item-title"><a href="portfolio-single.html">@item.Ad</a></h5>
                                                <div class="ef-portfolio-tags text-center hide-for-print">
                                                    <a href="#">Sistem</a>,  <a href="#">Dizayn</a>,  <a href="#">Kategori</a>
                                                </div>
                                            </div>
                                        </article>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <hr class="print-only">


            <div class="row">

                <div class="large-12 columns">

                    <h2 class="text-center"><strong>What We</strong> Do <small>You are able to use 100 Retina Icons that we have prepared just for you!</small></h2>

                    <hr>
                    <hr class="ef-blank hide-for-print">

                    <section class="row ef-services">
                        <article class="large-3 columns text-center">

                            <!--100 icons are ready to use! Just change ef-icn-13 class to ef-icn-57 for example. See services.html for more info-->

                            <a href="services.html" class="ef-icon ef-icn-30 hide-for-print"><span></span></a>
                            <h4><a href="services.html">Multipurpose Design</a></h4>

                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.</p>

                            <hr class="ef-blank show-for-small hide-for-print">
                        </article>

                        <article class="large-3 columns text-center">

                            <a href="services.html" class="ef-icon ef-icn-85 hide-for-print"><span></span></a>
                            <h4><a href="services.html">Retina Graphics</a></h4>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>

                            <hr class="ef-blank show-for-small hide-for-print">
                        </article>

                        <article class="large-3 columns text-center">

                            <a href="services.html" class="ef-icon ef-icn-78 hide-for-print"><span></span></a>
                            <h4><a href="services.html">Mobile First</a></h4>

                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</p>

                            <hr class="ef-blank show-for-small hide-for-print">
                        </article>

                        <article class="large-3 columns text-center">

                            <a href="services.html" class="ef-icon ef-icn-62 hide-for-print"><span></span></a>
                            <h4><a href="services.html">Rapid Prototyping</a></h4>

                            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id.</p>

                            <hr class="ef-blank show-for-small hide-for-print">
                        </article>
                    </section>

                    <section class="row ef-services">
                        <article class="large-3 columns text-center">

                            <!-- 100 icons are ready to use! Just change ef-icn-13 class to ef-icn-57 for example -->

                            <a href="services.html" class="ef-icon ef-icn-48 hide-for-print"><span></span></a>
                            <h4><a href="services.html">Time Saving</a></h4>

                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.</p>

                            <hr class="ef-blank show-for-small hide-for-print">
                        </article>

                        <article class="large-3 columns text-center">

                            <a href="services.html" class="ef-icon ef-icn-38 hide-for-print"><span></span></a>
                            <h4><a href="services.html">Ready To Cook</a></h4>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>

                            <hr class="ef-blank show-for-small hide-for-print">
                        </article>

                        <article class="large-3 columns text-center">

                            <a href="services.html" class="ef-icon ef-icn-39 hide-for-print"><span></span></a>
                            <h4><a href="services.html">Great Features</a></h4>

                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</p>

                            <hr class="ef-blank show-for-small hide-for-print">
                        </article>

                        <article class="large-3 columns text-center">

                            <a href="services.html" class="ef-icon ef-icn-29 hide-for-print"><span></span></a>
                            <h4><a href="services.html">Smart Code</a></h4>

                            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id.</p>

                            <hr class="ef-blank show-for-small hide-for-print">
                        </article>

                    </section>

                </div>
            </div>



            <hr class="print-only">


            <div class="row">

                <!-- Latest From The Blog -->

                <section class="ef-from-blog large-12 columns">

                    <div class="row">

                        <div class="large-8 small-8 columns">
                            <h4 class="ef-style-title"><strong>İnsanlar</strong> Alternatifler de Ne Arıyor ?<a class="hide-for-print" href="blog1.html">Güncel</a></h4>
                        </div>

                        <div class="large-4 small-4 columns text-right hide-for-print">
                            <div class="carousel-pagintation-1 ef-carousel-pag text-right"></div>
                        </div>

                    </div>

                    <section class="row">

                        @foreach (var item in Model.alternatiflerdearananlar)
                        {
                            <div class="large-4 small-6 columns">
                                <article class="clearfix">
                                    <div class="large-2 small-2 columns">
                                        <span class="ef-from-blog-img ef-proj-img">
                                            <img class="ef-radius" 
                                                 src='images/Alternative_Uygulama_Logo/@(item.Uuid==null ? "alternate.png" : item.Uuid+".png")' 
                                                 alt="uygulama adi" />
                                            <span class="ef-loader"></span>
                                        </span>
                                    </div>
                                    <div class="large-10 small-10 columns">
                                        <h3><a class="ef-more" href="/uygulama/@item.Ad">@item.Ad</a></h3>
                                        <p> Ücretsiz | Programlama | 1029 Beğeni </p>
                                    </div>

                                </article>
                            </div>

                        }



                    </section>

                </section>



            </div>

            <hr class="ef-blank hide-for-small hide-for-print">

            <!--  En Çok Görüntülenen Uygulamalar ve Yazılımlar  -->

            <div class="row">

                <!-- Latest From The Blog -->

                <section class="ef-from-blog large-12 columns">

                    <div class="row">

                        <div class="large-8 small-8 columns">
                            <h4 class="ef-style-title"><strong>Alternatiflerde </strong> En Çok görüntülenen Yazılım ve Uygulamalar<a class="hide-for-print" href="blog1.html">Güncel</a></h4>
                        </div>

                        <div class="large-4 small-4 columns text-right hide-for-print">
                            <div class="carousel-pagintation-1 ef-carousel-pag text-right"></div>
                        </div>

                    </div>

                    @foreach (var item in Model.encokarananlar)
                    {
                        <div class="large-4 small-6 columns">
                            <article class="clearfix">
                                <div class="large-2 small-2 columns">
                                    <span class="ef-from-blog-img ef-proj-img">
                                        <img class="ef-radius"  src='images/Alternative_Uygulama_Logo/@(item.Uuid==null ? "alternate.png" : item.Uuid+".png")' 
                                                alt="uygulama adi" />
                                        <span class="ef-loader"></span>
                                    </span>
                                </div>
                                <div class="large-10 small-10 columns">
                                    <h3><a class="ef-more" href="/uygulama/@item.Ad">@item.Ad</a></h3>
                                    <p> Ücretsiz | Programlama | 1029 Beğeni </p>
                                </div>

                            </article>
                        </div>

                    }


                </section>



            </div>

            <hr class="ef-blank hide-for-small hide-for-print">


            <!-- Clients carousel -->


        </section>

    