
@using AlternatiflerCore.Models
@using AlternatiflerCore.Models.MyModels
@model HomeModel

<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Alternatifler</title>

    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>



    <script src="~/js/vendor/custom.modernizr.js"></script>


    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,300italic,300,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="~/css/normalize.min.css" />

    <!-- Print Styles	-->
    <link rel="stylesheet" href="~/css/print.css" media="print" />

    <!-- jQuery UI Custom CSS	-->
    <link rel="stylesheet" type="text/css" href="~/js/jQueryUI/jquery-ui-1.10.2.custom.min.css" media="screen" />

    <!-- Tipsy CSS	-->
    <link rel="stylesheet" type="text/css" href="~/js/colorful-tipsy/tipsy.min.css" media="screen" />

    <!-- SocialCount CSS -->
    <link rel="stylesheet" type="text/css" href="~/js/socialCount/socialcount.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/js/socialCount/socialcount-icons.min.css" media="screen" />

    <!-- prettyPhoto CSS -->
    <link rel="stylesheet" type="text/css" href="~/js/prettyPhoto/css/prettyPhoto.css" media="screen" />

    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="~/js/rs-plugin/css/settings.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/js/rs-plugin/css/favea-style.css" media="screen" />

    <!-- Foundation CSS (unmodified) -->
    <link rel="stylesheet" href="~/css/foundation.min.css" media="screen" />

    <!-- !!! FAVEA MAIN CSS !!! -->
    <link rel="stylesheet" type="text/css" href="~/css/styles2.css" media="screen">
    <link rel="stylesheet" type="text/css" id="styles" href="~/css/styles1.css" media="screen">

    <link rel="stylesheet" type="text/css" href="~/css/styless10.css" media="screen">
    <link rel="stylesheet" type="text/css" id="styless" href="~/css/styless9.css" media="screen">

    <!-- FAVEA Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css" media="screen" />

    <!--[if IE 8]><link rel="stylesheet" href="css/ie8.css" /><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><script src="js/ie8/selectivizr-min.js"></script><![endif]-->
    <!-- FAVEA Retina CSS -->
    <link rel="stylesheet" href="~/css/retina.css" media="screen" />

    <link rel="stylesheet" href="~/css/theme-changer.css" media="screen" />


</head>
<body class="ef-boxed-ver">

    <div class="theme-changer-wrap">
        <div class="theme-changer">
            <div class="changer-inner">
                <div id="stylesw" class="clearfix">
                    <a href="#" rel="styles1" class="color-themes col1" id="styles1"></a>
                    <a href="#" rel="styles2" class="color-themes col2" id="styles2"></a>
                    <a href="#" rel="styles3" class="color-themes col3" id="styles3"></a>
                    <a href="#" rel="styles4" class="color-themes col4" id="styles4"></a>
                    <a href="#" rel="styles5" class="color-themes col5" id="styles5"></a>
                    <a href="#" rel="styles6" class="color-themes col6" id="styles6"></a>
                    <a href="#" rel="styles7" class="color-themes col7" id="styles7"></a>
                    <a href="#" rel="styles8" class="color-themes col8" id="styles8"></a>
                </div>

                <div id="stylesw1">
                    <a href="#" rel="styless9" class="color-themes col9" id="styless9">Full-width</a>
                    <a href="#" rel="styless10" class="color-themes col10" id="styless10">Boxed</a>
                </div>

            </div>
        </div>
        <div class="open-close-demo"></div>
    </div>

    <div class="ef-wrapper">

        <!-- Header -->

        <header class="hide-for-print">
            <section id="ef-top">
                <div class="row">
                    <div class="large-5 small-12 columns">
                        <ul class="left">
                            <li>
                                <ul class="lang-sw">
                                    <li class="ef-cur"><a href="#">Tr</a></li>
                                    <li><a href="#">En</a></li>
                                </ul>
                            </li>
                            <li class="ef-phone"><a href="#">T. +90 533 000 0000</a></li>
                            <li class="ef-mail"><a href="#">Hoş Geldiniz</a></li>
                        </ul>
                    </div>

                    <div class="large-7 small-12 columns text-right">
                        <hr class="show-for-small">

                        <!-- Social Profiles -->

                        <ul class="ef-social-block text-left right">
                            <li>
                                <ul class="ef-soc-icons">
                                    <li><a href="#" class="ef-twt ef-tipsy-n" title="Twitter" data-color="#2cbbea" target="_blank"></a></li>

                                    <li><a href="#" class="ef-fb ef-tipsy-n" title="Facebook" data-color="#5481de" target="_blank"></a></li>

                                    <li><a href="#" class="ef-in ef-tipsy-n" title="LinkedIn" data-color="#459ee9" target="_blank"></a></li>

                                    <li><a href="#" class="ef-pin ef-tipsy-n" title="Pinterest" data-color="#e84f61" target="_blank"></a></li>

                                    <li><a href="#" class="ef-drb ef-tipsy-n" title="Dribbble" data-color="#ee679b" target="_blank"></a></li>

                                    <li><a href="#" class="ef-tumb ef-tipsy-n" title="Tumblr" data-color="#4887c2" target="_blank"></a></li>

                                    <li><a href="#" class="ef-flick ef-tipsy-n" title="Flickr" data-color="#f23a94" target="_blank"></a></li>

                                    <li><a href="#" class="ef-vim ef-tipsy-n" title="Vimeo" data-color="#74c3dd" target="_blank"></a></li>

                                    <li><a href="#" class="ef-delic ef-tipsy-n" title="Delicious" data-color="#4a79ff" target="_blank"></a></li>

                                    <li><a href="#" class="ef-goog ef-tipsy-n" title="Google" data-color="#06ad18" target="_blank"></a></li>

                                    <li><a href="#" class="ef-forr ef-tipsy-n" title="Forrst" data-color="#6ea863" target="_blank"></a></li>

                                    <li><a href="#" class="ef-hi5 ef-tipsy-n" title="Hi5" data-color="#f6a502" target="_blank"></a></li>

                                    <li><a href="#" class="ef-last ef-tipsy-n" title="Last.fm" data-color="#e3332a" target="_blank"></a></li>

                                    <li><a href="#" class="ef-space ef-tipsy-n" title="Myspace" data-color="#3c6ccc" target="_blank"></a></li>

                                    <li><a href="#" class="ef-newsv ef-tipsy-n" title="Newsvine" data-color="#229150" target="_blank"></a></li>



                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="row">
                <div class="large-12 column">
                    <nav class="top-bar">
                        <ul class="title-area">
                            <!-- Title Area -->
                            <li class="name"><a href="index-2.html"><img src="~/images/content/alternative-logo-secont.png" alt="" /></a></li>
                            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                        </ul>

                        <section class="top-bar-section">

                            <!-- Left Nav Section -->

                            <ul class="left">
                                <li class="active"><a href="index.html">Ana Sayfa</a></li>
                                <li class="has-dropdown">
                                    <a href="#">Kategoriler</a>
                                    <ul class="dropdown">
                                        @foreach (var item in Model.kategorilist)
                                        {
                                            <li class="has-dropdown">
                                                <a href="/categori/@item.Ad">@item.Ad</a>

                                            </li>
                                        }
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">Sistemler</a>
                                    <ul class="dropdown">
                                        @foreach (var item in Model.sistemlist)
                                        {
                                            <li class="has-dropdown">
                                                <a href="#">@item.Ad</a>
                                                <ul class="dropdown">
                                                    @foreach (var subitem in Model.altsistemlist.Where(x => x.Parentid == item.Id))
                                                    {
                                                        <li><a href="#">@subitem.Ad</a></li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </li>
                                <li><a href="contact.html">İletişim</a></li>
                                <li>
                                    <a href="#">Hakkımızda</a>

                                </li>
                            </ul>

                            <!-- Right Nav Section -->

                            <ul class="right has-form">
                                <li><a href="#" data-reveal-id="myModal" class="button ef-search-btn right"></a></li>
                            </ul>
                        </section>
                    </nav>
                </div>
            </section>
        </header>

       
        @RenderBody()


        <!-- Footer	-->

        <footer id="ef-footer" class="hide-for-print">
            <div class="row ef-widgets">

                <section class="widget_text large-3 columns">
                    <h6>Hakkımızda</h6>

                    <div class="textwidget">
                        <img src="~/images/content/alternative-logo-secont.png" class="alignleft" alt="" />
                        <p>
                            Bu site bir çok uygulamanın alternatiflerinin bulunması ve
                            insanlar tarafından kolayca ulaşılabilmesi için tasarlanmıştır
                            <a href="http://www.muhammedalikaya.com/" target="_blank">
                                Bu site muhammet ali kaya tarafında kodlanmıştır
                            </a>

                    </div>

                </section>

                <section class="widget_recent_comments large-3 columns">
                    <h6>Yorumlar<span></span></h6>

                    <ul id="recentcomments">
                        <li class="recentcomments">
                            Ali BEYCAN
                            <a href="blog-single.html">Aradığım siteyi buldum sanırım</a>
                        </li>
                        <li class="recentcomments">
                            Bahar TURAN
                            <a href="blog-single.html">Ne kadar çok uygulama varmış</a>
                        </li>
                        <li class="recentcomments">
                            Beşir HAMZA
                            <a href="blog-single.html">Benim de alternatifim var mıdır? :)</a>
                        </li>
                        <li class="recentcomments">
                            Ahmet KAY
                            <a href="blog-single.html">Videolar Nerede?</a>
                        </li>
                    </ul>

                </section>

                <section class="widget_contact large-3 columns">
                    <h6>İletişim Bilgileri<span></span></h6>

                    <ul class="contacts">
                        <li class="cont-phone"><a href="tel:1-234-567-8910"><span>0 5xx 000 00 00</span></a></li>
                        <li class="cont-email">
                            <a href="mailto:muhammedali55@gmail.com"><span>muhammedali55@gmail.com</span></a>
                        </li>
                        <li class="cont-adress"><address><span>Programyurdu A.Ş.<br /> Ankara / TURKİYE</span></address></li>
                    </ul>

                </section>


                <section class="widget_text large-3 columns">
                    <h6>Bize Ulaşın</h6>

                    <div class="textwidget">
                        <ul>
                            <li>Programyurdu.com</li>
                            <li>Muhammedalikaya.com</li>
                            <li>Kuzi Grup</li>

                        </ul>
                    </div>

                </section>

            </div>

            <section class="ef-twitter-widget">
                <div class="row">
                    <div class="large-9 columns ef-twt-inner">
                        <div class="left ef-birdy"></div>
                        <div class="ef-twitter"></div>
                    </div>
                    <div class="large-3 columns text-right">
                        <a class="button round medium ef-no-margin" href="https://twitter.com/">Bizi Takip Edin</a>
                    </div>
                </div>
            </section>

            <section id="ef-footer-bottom">
                <div class="row">
                    <div class="large-7 columns">
                        <p>
                            &copy; 2019 ALTERNATIVE - HTML Template. Designed & Coded by
                            <a href="https://muhammedalikaya.com" target="_blank">Muhammet Ali KAYA</a>
                        </p>
                    </div>

                    <div class="large-5 columns text-right">
                        <nav>
                            <ul>
                                <li><a href="index-2.html">Home</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="clients.html">Clients</a></li>
                                <li><a href="portfolio1.html">Portfolio</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </section>

        </footer>

        <!-- Modal dialogs -->

        <div id="myModal" class="reveal-modal large ef-radius hide-for-print">
            <div class="row">

                <div class="large-5 columns">
                    <h2>Use our Search Form to find what you need</h2>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore</p>

                    <div class="row collapse">
                        <div class="small-9 columns">
                            <input type="text" placeholder="Enter search keyword(s)" class="prefix radius">
                        </div>
                        <div class="small-3 columns">
                            <a class="button postfix radius" href="#">Go!</a>
                        </div>
                    </div>

                </div>
                <div class="large-2 text-center columns ">
                    <div class="panel radius"><h1>Or</h1></div>
                </div>

                <div class="large-5 columns">

                    <h2>Ask us directly</h2>

                    <form id="ef-contact" class="ef-form" method="post" action="#">
                        <div class="row">
                            <div class="large-12 columns">
                                <input type="text" name="name" placeholder="Name *" class="ef-name ef-radius">
                            </div>
                        </div>

                        <div class="row">
                            <div class="large-12 columns">
                                <input type="text" name="email" placeholder="E-mail *" class="ef-email ef-radius">
                            </div>
                        </div>

                        <div class="row">
                            <div class="large-12 columns">
                                <input type="text" name="subject" placeholder="Subject" class="ef-subject ef-radius">
                            </div>
                        </div>

                        <div class="ef-textarea row">
                            <div class="large-12 columns">
                                <textarea name="message" placeholder="Message *" class="ef-message ef-radius"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="large-12 columns">

                                <p>Confirm that you are a human. Move <strong>slider</strong> to the right</p>

                                <div class="ef-contact-slider ef-round"></div>

                                <div class="clearfix"></div>

                                <input class="send button small ef-radius left" name="send" type="submit" value="Send">

                                <div data-alert="" class="alert-box success ef-form-alert radius right">
                                    <a href="#" class="close">&times;</a>
                                </div>

                            </div>
                        </div>

                    </form>

                </div>
            </div>

            <a class="close-reveal-modal">&#215;</a>
        </div>

        <!-- Main libraries -->
        <script type="text/javascript" src="~/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="~/js/jQueryUI/jquery-ui-1.10.2.custom.min.js"></script>

        <!-- Foundation library and initialization -->
        <script type="text/javascript" src="~/js/foundation.min.js"></script>



        <!-- Isotope -->
        <script type="text/javascript" src="~/js/isotope/jquery.isotope.min.js"></script>

        <!-- carouFredSel -->
        <script type="text/javascript" src="~/js/carouFredSel/jquery.carouFredSel-6.2.0-packed.js"></script>

        <!-- JQUERY REVOLUTION SLIDER  -->
        <script type="text/javascript" src="~/js/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
        <script type="text/javascript" src="~/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

        <!-- jQuery Tipsy -->
        <script type="text/javascript" src="~/js/colorful-tipsy/jquery.tipsy.custom.min.js"></script>

        <!-- Twitter feed -->
        <script type="text/javascript" src="~/js/tweet/jquery.tweet.min.js"></script>

        <!-- Flickr feed -->
        <script type="text/javascript" src="~/js/jFlickrfeed/jflickrfeed.min.js"></script>

        <!-- SocialCount -->
        <script type="text/javascript" src="~/js/socialCount/socialcount.min.js"></script>

        <!-- prettyPhoto -->
        <script type="text/javascript" src="~/js/prettyPhoto/jquery.prettyPhoto.js"></script>

        <!-- efValidate with Sliding Captcha (jQueryUI Slider need to be included in jquery-ui-1.10.2.custom.min.js) -->
        <script type="text/javascript" src="~/js/cf.min.js"></script>


        <!-- gMap -->
        <script type="text/javascript" src="~/js/gMap/jquery.ui.map.min.js"></script>
        <script type="text/javascript" src="~/js/gMap/jquery.ui.map.extensions.js"></script>



        <script type="text/javascript" src="~/js/styleswitch.js"></script>
        <script type="text/javascript" src="~/js/styleswitch1.js"></script>
        <script type="text/javascript" src="~/js/theme-changer.js"></script>


        <!-- CUSTOM SETTINGS -->
        <script type="text/javascript" src="~/js/custom.js"></script>

    </div>
</body>
</html>


